<h1>Flight booker</h1>

<%= form_with model: @flight, method: :get do |f| %>
  <div class="grid-container">
    <%= f.label "Travel from:", id: "label-from" %>
    <%= f.select(:departure_airport_id, @airports)%>

    <%= f.label "Travel to:", id: "label-to" %>
    <%= f.select(:arrival_airport_id, @airports)%>
    
    <%= f.label "Number of passangers:", id: "label-passengers" %>
    <%= f.select(:number_of_passengers, @passengers)%>

    <%= f.label "Select date:", id: "label-date" %>
    <%= f.select(:departure_time, @dates)%>

    <%= f.submit "Search", id: "submit" %>
  </div>

<% end %>

<% if @results.any? %>
  <%= form_with do |f| %>
    <table>
      <thead>
        <td>From</td>
        <td>To</td>
        <td>Date</td>
        <td>Time</td>
        <td>Flight Duration</td>
        <td>Select</td>
      </thead>
      <tbody>
          <% @results.each do |flight| %>
            <tr>
              <td><%= flight.departure_airport.airport_code %></td>
              <td><%= flight.arrival_airport.airport_code %></td>
              <td><%= Time.at(flight.departure_time).strftime('%d.%m.%Y')  %></td>
              <td><%= Time.at(flight.departure_time).strftime('%H:%m')  %></td>
              <td><%= Time.at(flight.flight_duration).strftime('%H:%m')  %></td>
              <td><%= f.radio_button :selected_flight, flight.id  %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <%= f.submit "Continue", class: "continue-button" %>
  <% end %>
<% end %>
