<h1>Add passenger information</h1>

<div class="flight-info">
  <span>From:</span>
  <span>To:</span>
  <span>Departure Time:</span>
  <span>Duration:</span>
  <span>Arrival Time:</span>

  <span><%= @flight.departure_airport.airport_code %></span>
  <span><%= @flight.arrival_airport.airport_code %></span>
  <span><%= Time.at(@flight.departure_time).strftime('%H:%M, %a. %e. of %B') %></span>
  <span><%= Time.at(@flight.flight_duration).strftime('%H:%M') %></span>
  <span>
    <%= Time.at(@flight.departure_time - @flight.flight_duration).strftime('%H:%M, %a. %e. of %B') %>
  </span>
</div>

<%= form_with model: @booking, method: :post do |f| %>
  <%= f.hidden_field :flight_id, value: params[:selected_flight] %>
    <div class="passenger-container">
      <% count = 0 %>
      <%= f.fields_for :passengers do |sub_f| %>
        Passenger #<%= count += 1 %>
        <%= sub_f.label "Full Name:" %>
        <%= sub_f.text_field :name, placeholder: "e.g.: Joe Doe" %>

        <%= sub_f.label "Email address:" %>
        <%= sub_f.text_field :email, placeholder: "e.g.: joe@doe.com" %>
      <% end %>
    </div>
  <%= f.submit "Continue", class: "continue-button" %>
<% end %>